.blog {
  padding: 97px 154px 97px 136px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 0;
    margin-bottom: 65px;

    color: #333461;
    font-family: $Kumbh;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.48px;
  }
}

.blog__cards {
  display: flex;
  gap: 150px;

  &-1 {
    width: 356px;
    border: 1px solid #edeff5;
    background: #fff;
    cursor: pointer;
  }
  &-2 {
    width: 356px;
    border: 1px solid #edeff5;
    background: #fff;
    cursor: pointer;
  }
  &-3 {
    width: 356px;
    border: 1px solid #edeff5;
    background: #fff;
    cursor: pointer;
  }

  &__text {
    padding: 24px 28px;
  }

  h3 {
    width: 300px;
    color: #333461;
    font-family: $Kumbh;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.72px;

    margin: 0;
    margin-bottom: 12px;
  }

  p {
    margin: 0;
    color: #4a556c;
    font-family: $Kumbh;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

.blog__btn {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 9px 16px;
  margin-top: 55px;
  border: none;
  border-radius: 10px;
  background: #20ad96;

  color: #fff;
  font-family: $Kumbh;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
