.introduction {
  margin: 96px 150px 80px 150px;
}

.introduction__img {
}

.introduction__main {
  display: flex;
  justify-content: space-between;
}

.introduction__title {
  width: 492px;
  margin: 0;
  margin-top: 32px;

  color: #333461;
  font-family: $Kumbh;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.48px;
}

.introduction__text {
  margin-right: 106px;

  width: 468px;

  color: #4a556c;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;

  p {
    margin-top: 0;
  }
}

.introduction__text-1 {
}

.introduction__text-2 {
}

.introduction__items {
  display: flex;
  justify-content: space-around;

  div {
    width: 300px;
    padding: 40px;
  }

  h3 {
    margin: 32px 0 16px 0;

    color: #041434;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.72px;
  }

  p {
    margin: 0;

    color: var(--Gray-800, #4a556c);
    font-family: $Kumbh;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}
