@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kumbh+Sans:wght@400;500;600;700;800&display=swap");

body {
  font-family: $Kumbh;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: $Kumbh;
  color: #4a556c;
  transition: color 0.2s ease-in;

  &:hover {
    color: $green;
  }
}


.button {
  border: 0;
  background: $green;
  color: #fff;
  cursor: pointer;
}
